{% extends 'books.html' %}
{% load static %}

{% block title %} Information about book {% endblock %}

{% block content %}
<h1 class="info"> More information abou book</h1>
    <div class="information">
        
        <p>Name of book: <span>{{ book_list.title}}</span></p>
        <p>Short description: <span>{{ book_list.subtitle}}</span></p>
        <p>about book: <span>{{ book_list.description}}</span></p>
        <p>Price(soms): <span>{{ book_list.price}}</span></p>
        <p>New book: <span>{{ book_list.genre}}</span></p>
        <p>Author: <span>{{ book_list.author}}</span></p>
        <p>Date of issue: <span>{{ book_list.year}}</span></p>
        <p>Added time: <span>{{ book_list.date}}</span></p>
        <p class="but"><a href="{%  url 'home' %}"><button class="btn btn-info">Main page</button></a></p>
    </div>
{% endblock %}